*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

body{
    background-color: rgba(37,94,233,255);
}

a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    margin: 25px;
}

.row_header{
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    flex-basis: content;
}

.signup-header{
    height: 40px;
    width: 80px;
    font-family: sans-serif;
	border-radius: 20px;
	border: 5px solid white;
	background-color: white;
}

.col{
    display: flex;
    align-items: center;
}