*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(173,216,230,255);
}

.row_header{
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    flex-basis: content;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    background-color: orange;
    border: 3px dotted black;
}
.logo{
    justify-content: flex-start;
}

.login{
    justify-content: flex-end;
}